In [7]:
import datetime as dt
import matplotlib.pyplot as plt
from matplotlib import style
import pandas as pd
import pandas_datareader.data as web
import numpy as np

style.use("ggplot")

In [8]:
start = dt.datetime(1962, 1, 3)
end = dt.datetime(2012, 11, 9)

df = web.DataReader("^GSPC", "yahoo", start, end)
print(df.tail())

                   High          Low         Open        Close      Volume  \
Date
2012-11-05  1419.900024  1408.130005  1414.020020  1417.260010  2921040000
2012-11-06  1433.380005  1417.260010  1417.260010  1428.390015  3306970000
2012-11-07  1428.270020  1388.140015  1428.270020  1394.530029  4356490000
2012-11-08  1401.229980  1377.510010  1394.530029  1377.510010  3779520000
2012-11-09  1391.390015  1373.030029  1377.550049  1379.849976  3647350000

              Adj Close
Date
2012-11-05  1417.260010
2012-11-06  1428.390015
2012-11-07  1394.530029
2012-11-08  1377.510010
2012-11-09  1379.849976

In [12]:
pd.DataFrame(df).to_csv("^GSPC_jupyter.csv")

In [13]:
type(df) # This was that the df is a dataframe type

pandas.core.frame.DataFrame

In [15]:
GSPCdf = pd.read_csv("^GSPC_jupyter.csv")
GSPCdf.head()

         Date       High        Low       Open      Close   Volume  Adj Close
0  1962-01-02  71.959999  70.709999  71.550003  70.959999  3120000  70.959999
1  1962-01-03  71.480003  70.379997  70.959999  71.129997  3590000  71.129997
2  1962-01-04  71.620003  70.449997  71.129997  70.639999  4450000  70.639999
3  1962-01-05  70.839996  69.349998  70.639999  69.660004  4630000  69.660004
4  1962-01-08  69.839996  68.169998  69.660004  69.120003  4620000  69.120003

In [20]:
GSPCdf["Return"] = GSPCdf((GSPCdf.Close - GSPCdf.Open) / GSPCdf.Open)

TypeError: 'DataFrame' object is not callable