In [92]:
import datetime as dt
import matplotlib.pyplot as plt
from matplotlib import style
import pandas as pd
import pandas_datareader.data as web
import numpy as np
import seaborn as sns

style.use("ggplot")

%matplotlib inline

In [93]:
#I only have to do this once. Then I just save the data as a csv file and read it in.
#start = dt.datetime(1962, 1, 3)
#end = dt.datetime(2012, 11, 9)

#df = web.DataReader("^GSPC", "yahoo", start, end)
#print(df.head())

In [94]:
#here I add a smaller version of the data so it is not so heavy on the computer to work with as I find 
# many times crashing the python environment
#start = dt.datetime(2010, 1, 3)
#end = dt.datetime(2012, 11, 9)

#df = web.DataReader("^GSPC", "yahoo", start, end)
#print(df.tail())

In [95]:
#pd.DataFrame(df).to_csv("^GSPC_jupyter.csv")

In [96]:
#type(df) # This was that the df is a dataframe type

In [97]:
GSPC = pd.read_csv("GSPC_Data.csv")
GSPCdf = pd.DataFrame(GSPC)
GSPCdf.head()

        Date     Open     High      Low    Close      Volume  Adj Close
0  11/9/2012  1377.55  1391.39  1373.03  1379.85  3647350000    1379.85
1  11/8/2012  1394.53  1401.23  1377.51  1377.51  3779520000    1377.51
2  11/7/2012  1428.27  1428.27  1388.14  1394.53  4356490000    1394.53
3  11/6/2012  1417.26  1433.38  1417.26  1428.39  3306970000    1428.39
4  11/5/2012  1414.02  1419.90  1408.13  1417.26  2921040000    1417.26

In [98]:
GSPCdf["Returns"] = (GSPCdf.Close - GSPCdf.Open) / GSPCdf.Open
GSPCdf.head()

,Date,Open,High,Low,Close,Volume,Adj Close,Returns
0,11/9/2012,1377.55,1391.39,1373.03,1379.85,3647350000,1379.85,0.001670
1,11/8/2012,1394.53,1401.23,1377.51,1377.51,3779520000,1377.51,-0.012205
2,11/7/2012,1428.27,1428.27,1388.14,1394.53,4356490000,1394.53,-0.023623
3,11/6/2012,1417.26,1433.38,1417.26,1428.39,3306970000,1428.39,0.007853
4,11/5/2012,1414.02,1419.90,1408.13,1417.26,2921040000,1417.26,0.002291

In [99]:
GSPCdf.describe() # very useful to see the count value

,Open,High,Low,Close,Volume,Adj Close,Returns
count,12803.000000,12803.000000,12803.000000,12803.000000,1.280300e+04,12803.000000,12803.000000
mean,504.025300,507.465628,500.405376,504.138625,8.202307e+08,504.138625,0.000291
std,485.905591,489.159731,482.385219,485.965435,1.467139e+09,485.965435,0.010015
min,52.320000,52.830000,51.350000,52.320000,1.950000e+06,52.320000,-0.204669
25%,99.785000,100.620000,99.015000,99.785000,1.765500e+07,99.785000,-0.004380
50%,258.890000,261.160000,257.500000,259.210000,1.419500e+08,259.210000,0.000390
75%,999.785000,1007.845000,990.970000,1000.360000,9.146000e+08,1000.360000,0.005077
max,1564.980000,1576.090000,1555.460000,1565.150000,1.145623e+10,1565.150000,0.107890

In [100]:
Rtcount = len(GSPCdf.Returns)
Rtcount

12803

In [101]:
Bins = [-0.025, -0.02, -0.015, -0.01, -0.005, 0, 0.005, 0.01, 0.015, 0.02, 0.025]

In [102]:
intervals = ["-0.025 to -0.02", "-0.02 to -0.015", "-0.015 to -0.01", "-0.01 to -0.005","-0.005 to 0", 
             "0 to 0.005", "0.005 to 0.01", "0.01 to 0.015", "0.015 to 0.02", "0.02 to 0.025"]
intervals

['-0.025 to -0.02',
 '-0.02 to -0.015',
 '-0.015 to -0.01',
 '-0.01 to -0.005',
 '-0.005 to 0',
 '0 to 0.005',
 '0.005 to 0.01',
 '0.01 to 0.015',
 '0.015 to 0.02',
 '0.02 to 0.025']

In [103]:
intervalscount =  len(intervals)
intervalscount

10

In [104]:
GSPCdf["Return % Bins"] = pd.cut(GSPCdf["Returns"], Bins, labels=intervals)
GSPCdf.tail()

,Date,Open,High,Low,Close,Volume,Adj Close,Returns,Return % Bins
12798,1/9/1962,69.12,69.93,68.83,69.15,3600000,69.15,0.000434,0 to 0.005
12799,1/8/1962,69.66,69.84,68.17,69.12,4620000,69.12,-0.007752,-0.01 to -0.005
12800,1/5/1962,70.64,70.84,69.35,69.66,4630000,69.66,-0.013873,-0.015 to -0.01
12801,1/4/1962,71.13,71.62,70.45,70.64,4450000,70.64,-0.006889,-0.01 to -0.005
12802,1/3/1962,70.96,71.48,70.38,71.13,3590000,71.13,0.002396,0 to 0.005

In [105]:
GSPCdfReturn = GSPCdf.loc[:, "Returns":"Return % Bins"]
GSPCdfReturn.head()

    Returns    Return % Bins
0  0.001670       0 to 0.005
1 -0.012205  -0.015 to -0.01
2 -0.023623  -0.025 to -0.02
3  0.007853    0.005 to 0.01
4  0.002291       0 to 0.005

In [106]:
#Get the average of return that is negative
avgNegReturns = GSPCdf.loc[:,"Returns"]
avgNegReturns = avgNegReturns.loc[avgNegReturns<0]
avgNegReturns = avgNegReturns.mean()
avgNegReturns

-0.006927790375352171

In [107]:
#Get the average of return that is positive
avgPosReturns = GSPCdf.loc[:,"Returns"]
avgPosReturns = avgPosReturns.loc[avgPosReturns>0]
avgPosReturns = avgPosReturns.mean()
avgPosReturns

0.006759159885067571

In [108]:
#Get the average of return that is zero
avgZeroReturns = GSPCdf.loc[:,"Returns"]
avgZeroReturns = avgZeroReturns.loc[avgZeroReturns==0]
avgZeroReturns = avgZeroReturns.mean()
avgZeroReturns

0.0

In [109]:
#Get the count of negative and positive returns
NegReturns = len(GSPCdfReturn.loc[(GSPCdfReturn.Returns < 0)])
NegReturns

6006

In [110]:
PosReturns = len(GSPCdfReturn.loc[(GSPCdfReturn.Returns > 0)])
PosReturns

6707

In [111]:
ZeroReturns = len(GSPCdfReturn.loc[(GSPCdfReturn.Returns == 0)])
ZeroReturns

90

In [112]:
ReturnCount = GSPCdfReturn["Returns"].count()
PosReturnsPer = PosReturns/ReturnCount*100
PosReturnsPer

52.386159493868625

In [113]:
NegReturnPer = NegReturns/ReturnCount*100
NegReturnPer

46.91088026243849

In [114]:
ZeroReturns = ZeroReturns/ReturnCount*100
ZeroReturns

0.7029602436928845

In [122]:
TotalAvgPosReturns = avgPosReturns*PosReturnsPer
TotalAvgPosReturns

0.3540864277837085

In [123]:
TotalAvgNegReturns = avgNegReturns*NegReturnPer
TotalAvgNegReturns

-0.3249887447814195

In [115]:
GSPCgrp = GSPCdfReturn.groupby("Return % Bins")
GSPCgrpCount = GSPCgrp.count() #I count how many times the Percentage returns appear in the data set
GSPCgrpCount = GSPCgrpCount.reset_index() #I reset the index to numbers
GSPCgrpCount["Return Frequency (%)"] = GSPCgrpCount["Returns"]/Rtcount*100
GSPCgrpCount = GSPCgrpCount.round(2)
GSPCgrpCount

     Return % Bins  Returns  Return Frequency (%)
0  -0.025 to -0.02      140                  1.09
1  -0.02 to -0.015      345                  2.69
2  -0.015 to -0.01      722                  5.64
3  -0.01 to -0.005     1581                 12.35
4      -0.005 to 0     3163                 24.71
5       0 to 0.005     3473                 27.13
6    0.005 to 0.01     1823                 14.24
7    0.01 to 0.015      763                  5.96
8    0.015 to 0.02      341                  2.66
9    0.02 to 0.025      152                  1.19

In [116]:
Return_mean = GSPCdf["Returns"].mean()*100
Return_mean

0.02909768300228724

In [117]:
histReturns = GSPCdf["Returns"]
histReturns

0        0.001670
1       -0.012205
2       -0.023623
3        0.007853
4        0.002291
5       -0.009379
6        0.010898
7        0.000829
8       -0.000729
9        0.002291
10      -0.003149
11      -0.014389
12       0.000419
13      -0.016571
14      -0.002464
15       0.004600
16       0.010144
17       0.007965
18      -0.002966
19       0.000014
20      -0.006188
21      -0.009905
22      -0.003457
23      -0.000322
24       0.007112
25       0.003416
26       0.000526
27       0.002491
28      -0.004464
29       0.009621
           ...
12773   -0.000142
12774   -0.000284
12775   -0.001417
12776    0.002272
12777    0.006575
12778    0.001145
12779    0.001003
12780    0.007941
12781    0.006101
12782    0.009828
12783    0.003976
12784   -0.003376
12785   -0.003219
12786   -0.000731
12787    0.001611
12788   -0.007557
12789    0.000873
12790    0.005264
12791    0.001025
12792   -0.010859
12793   -0.005758
12794   -0.002011
12795    0.003460
12796    0.005945
12797   -0.002748
12798    0.000434
12799   -0.007752
12800   -0.013873
12801   -0.006889
12802    0.002396
Name: Returns, Length: 12803, dtype: float64

# make the line plot of the stock prices over time
stockPrice = sns.lineplot(x="Date", y="Close", data=GSPCdf)
stockPrice = sns.regplot(x="Date", y="Close", data=GSPCdf)
stockPrice.show()

In [118]:
#make the line plot using matplotlib
#fig = plt.figure()
#fig = plt.plot("Date", "Close", data=GSPCdf)
#fig = plt.xlabel='time (d)'
#fig = plt.ylabel='Close Price'
#fig = plt.title='Stock price over time'
#plt.show()

In [119]:
#trying to make the linear regression plot with seaborne

In [120]:
#make the histogram plot
#_ = plt.hist(histReturns, bins=Bins, density=1, facecolor='g', alpha=0.75)
#plt.xlabel('% Change')
#plt.ylabel('Frequency')
#plt.title('Histogram of % of daily Returns over two years for GSPC')
#plt.axis([-0.03, 0.03, 0, 60])
#plt.grid(True)
#plt.show()