In [4]:
import datetime as dt
import matplotlib.pyplot as plt
from matplotlib import style
import pandas as pd
import pandas_datareader.data as web
import numpy as np

style.use("ggplot")

In [3]:
!pip install pandas-datareader

Collecting pandas-datareader
  Downloading https://files.pythonhosted.org/packages/cc/5c/ea5b6dcfd0f55c5fb1e37fb45335ec01cceca199b8a79339137f5ed269e0/pandas_datareader-0.7.0-py2.py3-none-any.whl (111kB)
    100% |████████████████████████████████| 112kB 3.2MB/s ta 0:00:01
Requirement already satisfied: pandas>=0.19.2 in /srv/conda/lib/python3.6/site-packages (from pandas-datareader) (0.24.2)
Collecting wrapt (from pandas-datareader)
  Downloading https://files.pythonhosted.org/packages/23/84/323c2415280bc4fc880ac5050dddfb3c8062c2552b34c2e512eb4aa68f79/wrapt-1.11.2.tar.gz
Requirement already satisfied: requests>=2.3.0 in /srv/conda/lib/python3.6/site-packages (from pandas-datareader) (2.21.0)
Collecting lxml (from pandas-datareader)
  Downloading https://files.pythonhosted.org/packages/2d/53/34a9f0c79c548e430148837892b6ae91adee571a0e8b6c17bd7ff9c2d12e/lxml-4.3.4-cp36-cp36m-manylinux1_x86_64.whl (5.7MB)
    100% |████████████████████████████████| 5.7MB 1.6MB/s eta 0:00:01
Requirement already satisfied: pytz>=2011k in /srv/conda/lib/python3.6/site-packages (from pandas>=0.19.2->pandas-datareader) (2019.1)
Requirement already satisfied: numpy>=1.12.0 in /srv/conda/lib/python3.6/site-packages (from pandas>=0.19.2->pandas-datareader) (1.16.3)
Requirement already satisfied: python-dateutil>=2.5.0 in /srv/conda/lib/python3.6/site-packages (from pandas>=0.19.2->pandas-datareader) (2.8.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /srv/conda/lib/python3.6/site-packages (from requests>=2.3.0->pandas-datareader) (1.24.1)
Requirement already satisfied: certifi>=2017.4.17 in /srv/conda/lib/python3.6/site-packages (from requests>=2.3.0->pandas-datareader) (2019.3.9)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /srv/conda/lib/python3.6/site-packages (from requests>=2.3.0->pandas-datareader) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /srv/conda/lib/python3.6/site-packages (from requests>=2.3.0->pandas-datareader) (2.8)
Requirement already satisfied: six>=1.5 in /srv/conda/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas>=0.19.2->pandas-datareader) (1.12.0)
Building wheels for collected packages: wrapt
  Building wheel for wrapt (setup.py) ... done
  Stored in directory: /home/jovyan/.cache/pip/wheels/d7/de/2e/efa132238792efb6459a96e85916ef8597fcb3d2ae51590dfd
Successfully built wrapt
Installing collected packages: wrapt, lxml, pandas-datareader
Successfully installed lxml-4.3.4 pandas-datareader-0.7.0 wrapt-1.11.2

In [5]:
start = dt.datetime(1962, 1, 3)
end = dt.datetime(2012, 11, 9)

df = web.DataReader("^GSPC", "yahoo", start, end)
print(df.tail())

                   High          Low         Open        Close      Volume  \
Date
2012-11-05  1419.900024  1408.130005  1414.020020  1417.260010  2921040000
2012-11-06  1433.380005  1417.260010  1417.260010  1428.390015  3306970000
2012-11-07  1428.270020  1388.140015  1428.270020  1394.530029  4356490000
2012-11-08  1401.229980  1377.510010  1394.530029  1377.510010  3779520000
2012-11-09  1391.390015  1373.030029  1377.550049  1379.849976  3647350000

              Adj Close
Date
2012-11-05  1417.260010
2012-11-06  1428.390015
2012-11-07  1394.530029
2012-11-08  1377.510010
2012-11-09  1379.849976

In [6]:
pd.DataFrame(df).to_csv("^GSPC_jupyter.csv")

In [7]:
type(df) # This was that the df is a dataframe type

pandas.core.frame.DataFrame

In [8]:

GSPCdf = pd.read_csv("^GSPC_jupyter.csv")
GSPCdf.head()

         Date       High        Low       Open      Close   Volume  Adj Close
0  1962-01-03  71.480003  70.379997  70.959999  71.129997  3590000  71.129997
1  1962-01-04  71.620003  70.449997  71.129997  70.639999  4450000  70.639999
2  1962-01-05  70.839996  69.349998  70.639999  69.660004  4630000  69.660004
3  1962-01-08  69.839996  68.169998  69.660004  69.120003  4620000  69.120003
4  1962-01-09  69.930000  68.830002  69.120003  69.150002  3600000  69.150002

In [9]:
GSPCdf = GSPCdf.assign(Returns = ((GSPCdf.Close - GSPCdf.Open) / GSPCdf.Open))
GSPCdf.head()

,Date,High,Low,Open,Close,Volume,Adj Close,Returns
0,1962-01-03,71.480003,70.379997,70.959999,71.129997,3590000,71.129997,0.002396
1,1962-01-04,71.620003,70.449997,71.129997,70.639999,4450000,70.639999,-0.006889
2,1962-01-05,70.839996,69.349998,70.639999,69.660004,4630000,69.660004,-0.013873
3,1962-01-08,69.839996,68.169998,69.660004,69.120003,4620000,69.120003,-0.007752
4,1962-01-09,69.930000,68.830002,69.120003,69.150002,3600000,69.150002,0.000434